@import "theme.css";

* {
    -fx-text-fill: -text-50;
}

.background {
    -fx-background-color: -background-900;
}

.button {
    -fx-background-radius: 8;
    -fx-font-size: 18;
    -fx-padding: 10;
    -fx-background-color: -background-600;
    -fx-text-fill: -text-900;
}

.button:hover {
    -fx-background-color: -background-700;
}

.button.primary {
    -fx-background-color: -primary-500;
    -fx-text-fill: white;
}

.button.primary:hover {
    -fx-background-color: -primary-600;
}

.link-button{
    -fx-text-fill: -primary-200;
}

.content {
    -fx-padding: 15;
    -fx-vgap: 10;
}



.list-view {
    -fx-background-color: -background-800;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5 0 0 0;
}

.list-cell {
    -fx-background-color: -background-700;
    -fx-padding: 10;
}

.list-cell:even {
    -fx-background-color: -background-800;
}

.list-cell:filled:hover {
    -fx-background-color: -background-600;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -primary-400;
    -fx-font-weight: bold;
}


/* FORM ELEMENTS */

.text-field {
    -fx-background-color: -background-700;
    -fx-background-radius: 5;
    -fx-padding: 15;
    -fx-font-size: 18;
}

.radio-button {
    -fx-padding: 10;
    -fx-background-color: -background-700;
    -fx-background-radius: 10;
}

.radio-button:selected {
    -fx-border-color: -primary-600;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 8;
}

.radio-button:selected .radio .dot {
    -fx-background-color: -primary-600;
    -fx-background-insets: 0;
}

.choice-box {
    -fx-background-color: -background-700;
}

.choice-box .context-menu {
    -fx-background-color: -background-600;
}

.choice-box .menu-item:hover, .content .choice-box .menu-item:focused {
    -fx-background-color: -background-500;
}