@import "global.css";

GridPane {
    -fx-background-color: -background-800;
    -fx-padding: 10;
}

GridPane .title{
    -fx-font-size: 24;
}

.profile-dropdown {
    -fx-spacing: 10;
}

.menu-button {
    -fx-background-color: -background-700;
}

.menu-button .context-menu {
    -fx-background-color: -background-600;
    -fx-background-radius: 8;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -background-500;
}


#closeButton {
    -fx-padding: 8;
    -fx-background-radius: 50;
}

#closeButton:hover {
    -fx-background-color: red;
}

#closeButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
}